@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.typeAnimation {
  overflow: hidden;
  border-right: 0.1em solid orange;
  border-left: 0.1em solid orange;
  white-space: nowrap;
  animation: typing 4s steps(40, end);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.ioEye{
  position: absolute;
  right: 20px;
  top: 7px;
  font-size: 20px;
  border: none;
  background: transparent;
}
